@import url('https://fonts.googleapis.com/css?family=Rubik:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arvo:wght@100;200;400&display=swap');

html{
    background-color: #ffe2e2e5;
}
body{
    font-family: 'Rubik', 'Arvo', serif;
    color: #969595;
}


header{
    margin-left: 15px;
    position: relative;
}

header h1 {
    display: inline-block;
    font-size: 50px;
    padding-left: 10px;
    color: #757575;
    text-decoration: none;
    position: relative;
    bottom: 5px;
}

header h1 a {
    text-decoration: none;
    color: none;

}

main{
    border-radius: 10px;
    background-color: #ffffff; <!--- tira a cor  da área dos botões --->
    border-radius: 10px;
    border: none;

}


.area_texto{
    justify-content: space-between;
    align-items: center;
    display: flex;
    
}

textarea {
    font-size: 30px;
    resize: none;
   color: #7a7a7a;
   border-color: none;
   border-top: 0;
  }

#escreva{
    width: 60%;
    height: 400px;
    background-color: none;
    border-radius: 0px 0 0px 0;
    outline: none;
    border-left: 200;
    <!--- parte do texto que o usuario escreve --->
    
}


#texto {
    width: 38%;
    height: 400px;
    background-size: 100% ;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-color: none;
    cursor: pointer;
    outline: none;
    border-right: 10;
    border-radius: 0 3px 0 3px;

    <!--- parte do texto que é decodificado --->
  }

#texto::selection{
    background: none;
    color: inherit #F1F1F1;
}

.botoes ul{
    display: inline-block;
    padding: 0;
    width: 60%;
    text-align: center;
}

.botoes li {
    font-family: 'Arvo', serif;
    display: inline-block;
    border: 1px solid #e9e9e9;
    font-weight: bold;
    padding: 12px;
    border-radius: 18px;
    width: 120px;
    margin-left: 10px;
}

.botoes li:hover {
    cursor: pointer;
    background-color: #ffeaea;
    transition: 0.1s;
    transition-timing-function: ease-in;
    background-position: 100% 50%;
  
}

.botoes li:active{
    background-color: #ffeaea;
    border-color: #c2c2c2;
    font-weight: bolder;
    transition: 0.2s;
}



.botoes li::selection{
    background: none;
    color: inherit;
}

.texto-copia{
    display: inline-block;
    width: 39.5%; 
    text-align: center;
}

.texto-copia h2{
    
    display: inline;
    margin-left: 5px;
}

footer{

    padding-top: 5px;
    text-align: center;
    font-weight: bold;
}



@media only screen and (max-width: 767px){


    header{
        border: none;
        margin: 0;
        border-bottom: 0;
        border-radius: 4px 4px 0 0;
        background-color: none;
        border-color: none;
        padding: 5px;
        position: a;
    }




main{
    border-radius: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    
}

.area_texto{
 
    display: inline;
    border-right: 20px ;
    border-top: 10px;
   

    
}

#escreva{
    width: 98.7%;
    border-radius: 0;
    border: 0;
    border-right: 0px ;
}

#texto{

    border-right: 20px ;
    width: 80%;
    border-radius: 0;
    border-bottom: 0px ;
    border-style: none;
    border-color: none;
    border-right: 0px;
    border-left: 0px;

    
   
}

.texto-copia{
    display: none;
}

.botoes{
    text-align: center;
    width: 50%;
    
    

}

.botoes ul{

    padding: 0;
    text-align: center;
    width: 50%;
}
.botoes li{

    width: 120px;
    margin-bottom: 5px;
    border: 2px solid;


}

.botoes li:hover{
    background-color: #FFFFFF;
}

.botoes li:active{
    background-color: #FFFFFF;
}

}
